<h3>銀行詳細</h3>
<%= @bank_post.name %>
<p>回答数</p>
<p>気になる登録数</p>
<p>気になる登録する</p>
<%= @bank_post.rate %>%
<table>
	<tbody>
		<tr>
			<th>借入金額</th>
			<td></td>
		</tr>
		<tr>
			<th>借入期間</th>
			<td><%= @bank_post.borrowing_length %>年</td>
		</tr>
		<tr>
			<th>毎月返済金額</th>
			<td><%= @bank_post.payment %></td>
		</tr>
		<tr>
			<th>借入時期</th>
			<td><%= @bank_post.borrowing_year %>年<%= @bank_post.borrowing_month %>月</td>
		</tr>
		<tr>
			<th>住宅購入地</th>
			<td><%= @bank_post.bought_place %></td>
		</tr>
		<tr>
			<th>借入形態</th>
			<td><%= @bank_post.borrowing_form %></td>
		</tr>
		<tr>
			<th>金利タイプ</th>
			<td><%= @bank_post.rate_type %></td>
		</tr>
		<tr>
			<th>選んだ理由</th>
			<td><%= @bank_post.reason %></td>
		</tr>
	</tbody>
</table>
<br>
<table>
	<tbody>
		<tr>
			<th>年齢</th>
			<td><%= @attribute_post.age %></td>
		</tr>
		<tr>
			<th>性別</th>
			<td><%= @attribute_post.sex %></td>
		</tr>
		<tr>
			<th>家族形態</th>
			<td><%= @attribute_post.family_form %></td>
		</tr>
		<tr>
			<th>雇用形態</th>
			<td><%= @attribute_post.employment_status %></td>
		</tr>
		<tr>
			<th>勤続年数</th>
			<td><%= @attribute_post.length_job %></td>
		</tr>
		<tr>
			<th>年収</th>
			<td><%= @attribute_post.income %>万円</td>
		</tr>
		<tr>
			<th>上場・非上場</th>
			<td><%= @attribute_post.listed %></td>
		</tr>
	</tbody>
</table>
