<%= render "loans/search", search_params: @search_params %>


<br><h3>銀行一覧</h3>
<%= link_to "投稿一覧を表示する", loans_path %><br>

<% @banks.each do |bank| %>
	<%= bank[1] %><br>
	<p>最安金利：<%= bank[2] %>%</p>
	<%= link_to "詳しく見る", bank_path(bank[0]) %><br><br>
<% end %>