<div class= "container">
	<div class= "row">
		<div class="mx-auto box col-md-12">
	  		<div class= "mx-auto">
	  			<div class="row bank-info-box">
		  			<div class="info-name col-md-8">
				  		<h1><%= @bank.name %></h1>
				  		<div class="min-rate">
					  		<h3>最安金利：<%= @min_rate[0] %>%</h3>
					  		<h3>平均金利：<%#= @average_rate %></h3>
						</div>
				  	</div>

					<div class="info-favorite col-md-4">
						<p>この銀行を「検討したい」登録した人は<span><strong><%= @bank.favorites.count %>人</strong></span>です</p>
						<% if user_signed_in? %>
							<% if @bank.favorited_by?(current_user) %>
								<p><%= link_to bank_favorites_path(@bank), method: :delete do %><i class="fas fa-star fa-3x star"></i><% end %><br>「検討したい」登録をはずす</p>
							<% else %>
								<p><%= link_to bank_favorites_path(@bank), method: :post do %><i class="far fa-star fa-3x star"></i><% end %><br>「検討したい」登録する</p>
							<% end %>
						<% else %>
							<p><%= link_to new_user_registration_path do %><i class="far fa-star fa-3x star"></i><% end %><br>
						「検討したい」登録する</p>
						<% end %>
					</div>
					<div class="line-chart">
						<%= column_chart @aggregate_rate, title: "金利の分布", messages: {empty: "No data"} %>
					</div>
					<div class="mx-auto chart-box">
				  		<%= pie_chart @aggregate_age, title: "年収", width: "280px", height: "280px" %>
				  		<%= pie_chart @aggregate_income, title: "年齢", width: "300px", height: "300px" %>
				  		<%= pie_chart @aggregate_family_form, title: "家族構成", width: "280px", height: "280px" %>
				  		<%= pie_chart @aggregate_job_period, title: "勤続年数", width: "280px", height: "280px" %>
				  	</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="mx-auto index-title-box col-md-12">
			<p class= "index-title-text">すべての投稿件数：<%= @bank.loans.count %>件</p>
			<% @loans.each do |loan| %>
				<%= render "loans/loanpost", loan: loan %>
			<% end %>
		</div>
	</div>
	<%= paginate @loans, class: "index-page" %>
</div>