<div class= "container">
	<div class= "row">
		<div class="mx-auto box col-md-12">
	  		<div class= "mx-auto">
	  			<div class="row bank-info-box">
		  			<div class="info-name col-md-6">
				  		<h1><%= @bank.name %></h1>
				  	</div>
				  	<div class="info-text col-md-3">
						<p>すべての投稿数：<%= @bank.loans.count %><br>
							気になる登録数：<%= @bank.favorites.count %></p>
					</div>
					<div class="info-favorite col-md-3">
						<% if user_signed_in? %>
							<% if @bank.favorited_by?(current_user) %>
								<p>気になる登録をはずす<br>
								<%= link_to bank_favorites_path(@bank), method: :delete do %><i class="fas fa-star fa-3x star"></i><% end %></p>
							<% else %>
								<p>気になる登録する<br>
								<%= link_to bank_favorites_path(@bank), method: :post do %><i class="far fa-star fa-3x star"></i><% end %></p>
							<% end %>
						<% else %>
							<p>気になる登録する<br>
							<%= link_to new_user_registration_path do %><i class="far fa-star fa-3x star"></i><% end %></p>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<% @loans.each do |loan| %>
			<%= render "loans/loanpost", loan: loan %>
		<% end %>
	</div>
	<br><%= paginate @loans, class: "index-page" %>
</div>