<div class="about-lp">
	<div class="about1">
		<div class="about1-title">
			<p>ienowa とは？</p>
		</div>
		<div class="about-logo">
			<%= image_tag "logo_w.png" %>
		</div>
		<div class="about1-text">
			<p>家を買いたい人と<br>
			手に入れたマイホームを素敵にしたい人をつなぐ<br>
			住宅ローンの口コミサイトです</p>
		</div>
	</div>

	<div class="fadein">
		<div class="about2">
			<div class="about2-start">
				<p>家ほしいな・・・<br>
				でも、何から始めたらいい・・・？</p>
			</div>
			<div class="about2-title">
			<p>家を購入した人の声</p>
			</div>
			<div class="about2-text">
				<%= image_tag "about-man.png", :size => "80x150", class: "about_man" %>
				<div class="about-balloon">
					<p>欲しい家があったけど、審査に時間がかかってしまって、買い逃してしまった・・</p>
				</div>
			</div>
			<div class="about2-text">
				<div class="woman-balloon">
					<p>自分の勤続年数では借りれない銀行もあって、銀行選びが大変だった・・</p>
				</div>
				<%= image_tag "about_woman.png", :size => "70x100", class: "about_woman" %>
			</div>
		</div>
	</div>

	<div class="fadein">
		<div class="about3">
			<div class="about1-title">
				<p>家を買う時のポイント</p>
			</div>
			<div class="point-box" >
				<div class="point">
					<div class="number">１</div>
					<p>探す前に銀行の目星をつけておくこと</p>
				</div>
				<div class="point">
					<div class="number">２</div>
					<p>自分に合った銀行選びをすること</p>
				</div>
			</div>
			<div class="about1-title">
				<p>でも、どうやって・・・？</p>
			</div>
		</div>
	</div>

	<div class="fadein">
		<div class="about4">
			<div class="about-logo">
				<p><%= image_tag "logo_b.png" %>で解決！</p>
			</div>
			<div class="about1-title">
				<p>ienowaで、できること</p>
			</div>
			<div class="good-box">
				<div class="fadein">
					<div class="good">
						<div class="number">１</div>
						<h4>自分に似ている人の住宅ローン実績がわかる</h4>
						<div class="about-line"></div>
						<p>勤続年数や年収などで借入条件が変わる住宅ローン。<br>
						自分に似ている人の実績がわかると、どの銀行が自分に合っているかが見えてきます。</p>
					</div>
				</div>
				<div class="fadein">
					<div class="good">
						<div class="number">２</div>
						<h4>最新の住宅ローン情報を確認できる</h4>
						<div class="about-line"></div>
						<p>銀行の審査条件は日々変化していきます。<br>
						新鮮な情報をキャッチしよう。</p>
					</div>
				</div>
				<div class="fadein">
					<div class="good">
						<div class="number">３</div>
						<h4>自分に合った銀行をつけて、検討中の銀行をいつでもチェック</h4>
						<div class="about-line"></div>
						<p>気になる銀行を保存、比較して、審査に進もう</p>
					</div>
				</div>
			</div>
			<div class="about-message">
				<p>ienowaでマイホームへの第一歩を踏み出そう</p>
			</div>
		</div>
	</div>

	<div class="fadein">
		<div class="about5">
			<div class="about5-title">
				<p>すでにマイホームを手に入れた方へ</p>
			</div>
			<div class="about-text">
				<p>簡単なアンケートに答えて、インテリアショップで使える20%OFFクーポンをゲットしよう！</p>
			</div>
			<div class= "top-coupon">
				<% if user_signed_in? %>
					<%= link_to "アンケートに答えてクーポンをゲットする", new_loan_path, class: "btn btn-primary col-md-4" %>
				<% else %>
					<%= link_to "登録してクーポンをゲットする", new_user_registration_path, class: "btn btn-primary col-md-4" %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="target">
		<div class="about1-title">
			<p>クーポンの対象店舗一覧</p>
		</div>
		<div class="target-index">
			<div class="target-box"></div>
			<div class="target-box"></div>
			<div class="target-box"></div>
			<div class="target-box"></div>
			<div class="target-box"></div>
			<div class="target-box"></div>
			<div class="target-box"></div>
			<div class="target-box"></div>
			<div class="target-box"></div>
		</div>
	</div>
</div>
