<div class= "container">
  <div class= "row">
    <div class="mx-auto box col-md-12">
      <div class= "mx-auto col-md-6" style= "padding-top: 30px; padding-bottom: 30px;">
        <%= form_with(scope: :search, url: loans_path, method: :get, local:true) do |f| %>
          <table class= "table-borderless search-table">
            <tr>
              <th><%= f.label(:年齢) %></th>
              <td><%= f.text_field :age_from, value: search_params[:age_from] %> ~ <%= f.text_field :age_to, value: search_params[:age_to] %></td>
            </tr>
            <tr>
              <th><%= f.label(:家族形態) %></th>
              <td>
                <%= f.collection_radio_buttons(:family_form, Loan.family_forms_i18n, :first, :last) do |r| %>
                  <%= tag.div(class: 'form-check form-check-inline') do %>
                  <%= r.radio_button(checked: r.value == search_params[:family_form]) + r.text %>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th><%= f.label(:年収) %></th>
              <td><%= f.text_field :income_from, value: search_params[:income_from] %> ~ <%= f.text_field :income_to, value: search_params[:income_to] %></td>
            </tr>
            <tr>
              <th><%= f.label(:雇用形態) %></th>
              <td>
                <%= f.collection_radio_buttons(:employment_status, Loan.employment_statuses_i18n, :first, :last) do |r| %>
                  <%= tag.div(class: 'form-check form-check-inline') do %>
                    <%= r.radio_button(checked: r.value == search_params[:employment_status]) + r.text %>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th><%= f.label(:勤続年数) %></th>
              <td>
                <%= f.collection_radio_buttons(:job_period, Loan.job_periods_i18n, :first, :last) do |r| %>
                  <%= tag.div(class: 'form-check form-check-inline') do %>
                    <%= r.radio_button(checked: r.value == search_params[:job_period]) + r.text %>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th><%= f.label(:購入場所) %></th>
              <td><%= f.select :bought_place, Loan.bought_places_i18n.keys.map {|k| [I18n.t("enums.loan.bought_place.#{k}"), k]}, {:selected => search_params[:bought_place], :include_blank => '選択してください' }, { class: 'bought_place'} %></td>
            </tr>
          </table>
          <%= f.submit '検索する', class: "btn btn-primary col-md-12 search-botton" %>
        <% end %>
      </div>
    </div>
  </div>
</div>