<h3>入力内容確認画面</h3>
<table>
	<tbody>
		<tr>
			<th>年齢</th>
			<td><%= session[:age] %>歳</td>
		</tr>
		<tr>
			<th>性別</th>
			<td><%= session[:sex] %></td>
		</tr>
		<tr>
			<th>家族形態</th>
			<td>
				<% if session[:family_form] == 'couple' %>
					<p>夫婦</p>
				<% elsif session[:family_form] == 'single' %>
					<p>単身</p>
				<% else %>
					<p>ファミリー</p>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>雇用形態</th>
			<td><%= session[:employment_status] %></td>
		</tr>
		<tr>
			<th>勤続年数</th>
			<td><%= session[:job_period] %></td>
		</tr>
		<tr>
			<th>年収</th>
			<td><%= session[:income] %>万円</td>
		</tr>
		<tr>
			<th>上場・非上場</th>
			<td><%= session[:listed] %></td>
		</tr>
		<tr>
			<th>借入時期</th>
			<td><%= session[:borrowing_year] %>年<%= session[:borrowing_month] %>月</td>
		</tr>
		<tr>
			<th>銀行名</th>
			<td><% session[:bank_id] %><%= @bank.name %></td>
		</tr>
		<tr>
			<th>実行金利</th>
			<td><%= session[:rate] %>%</td>
		</tr>
		<tr>
			<th>借入年数</th>
			<td><%= session[:borrowing_period] %>年</td>
		</tr>
		<tr>
			<th>返済月額</th>
			<td><%= session[:payment] %>円</td>
		</tr>
		<tr>
			<th>金利タイプ</th>
			<td><%= session[:rate_type] %></td>
		</tr>
		<tr>
			<th>借入形態</th>
			<td><%= session[:borrowing_form] %></td>
		</tr>
		<tr>
			<th>家を購入した場所</th>
			<td><%= session[:bought_place] %></td>
		</tr>
		<tr>
			<th>選んだ理由</th>
			<td><%= session[:reason] %></td>
		</tr>
	</tbody>
</table>

<%= link_to "送信する", loans_path, method: :post %>