<h3>検索画面</h3>
<p>投稿一覧</p>
<%= link_to "銀行ごとに表示する", banks_path %><br>
<% @loans.each do |loan| %>
	<%= loan.bank_id %>
	<%= loan.rate %>%
	<table>
		<tbody>
			<tr>
				<th>借入金額</th>
				<td></td>
			</tr>
			<tr>
				<th>借入期間</th>
				<td><%= loan.borrowing_period %>年</td>
			</tr>
			<tr>
				<th>毎月返済金額</th>
				<td><%= loan.payment %></td>
			</tr>
			<tr>
				<th>借入時期</th>
				<td><%= loan.borrowing_year %>年<%= loan.borrowing_month %>月</td>
			</tr>
			<tr>
				<th>住宅購入地</th>
				<td><%= loan.bought_place %></td>
			</tr>
			<tr>
				<th>借入形態</th>
				<td><%= loan.borrowing_form %></td>
			</tr>
			<tr>
				<th>金利タイプ</th>
				<td><%= loan.rate_type %></td>
			</tr>
			<tr>
				<th>選んだ理由</th>
				<td><%= loan.reason %></td>
			</tr>
		</tbody>
	</table>
<% end %>
<br>
<% @loans.each do |loan| %>
	<table>
		<tbody>
			<tr>
				<th>年齢</th>
				<td><%= loan.age %></td>
			</tr>
			<tr>
				<th>性別</th>
				<td><%= loan.sex %></td>
			</tr>
			<tr>
				<th>家族形態</th>
				<td><%= loan.family_form %></td>
			</tr>
			<tr>
				<th>雇用形態</th>
				<td><%= loan.employment_status %></td>
			</tr>
			<tr>
				<th>勤続年数</th>
				<td><%= loan.job_period %></td>
			</tr>
			<tr>
				<th>年収</th>
				<td><%= loan.income %>万円</td>
			</tr>
			<tr>
				<th>上場・非上場</th>
				<td><%= loan.listed %></td>
			</tr>
		</tbody>
	</table>
<% end %>