<div class= "container">
  <%= notice %>
  <div class= "mx-auto col-md-6 sign-box" style= "padding-top: 90px; text-aligh: center;">
    <h5 class= "sign-title">ログイン</h5>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <table class= "table-borderless mx-auto sign-table">
        <tbody>
          <tr>
            <th><%= f.label :email %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <th><%= f.label :password %></th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
        </tbody>
      </table>
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      <% end %>

      <div class="sign-actions">
        <%= f.submit "ログインする", class: "btn btn-warning mx-auto col-md-5 sign-botton" %>
      </div>
    <% end %>
    <div class="auth-botton">
      <%= link_to user_google_omniauth_authorize_path do %>
        <%= image_tag 'google_signin.png', :size => '225x50' %>
      <% end %>
    </div>
    <div class= "devise-link">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
