<!DOCTYPE html>
<html>
  <head>
    <title>Ienowa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
          <!--ログイン後のヘッダ-->
          <% if user_signed_in? %>
          <div class="navbar-brand">ienowa</div>
            <ul class="nav justify-content-end">
              <li class="nav-item"><%= link_to "TOP　", root_path %></li>
              <li class="nav-item"><%= link_to "検索する　", attribute_bank_posts_path %></li>
              <li class="nav-item"><%= link_to "マイページ", favorites_bank_posts_path %>　</li>
              <li class="nav-item"><%= link_to "ログアウト ", destroy_user_session_path, method: :delete %></li>
            </ul>
          <!--ログイン前のヘッダ-->
          <% else %>
          <div class="navbar-brand">ienowa</div>
            <ul class="nav justify-content-end">
              <li class="nav-item"><%= link_to "About ", homes_about_path %></li>
              <li class="nav-item"><%= link_to "ログイン ", new_user_session_path %></li>
              <li class="nav-item"><%= link_to "新規登録 ", new_user_registration_path %></li>
            </ul>
          <% end %>
      </header>
    </div>
    <div class="body">
      <div class="container">
        <%= yield %>
      </div>
    </div>
      <footer>
        <div class="col-md-6 col-md-offset-4">
          <p>©︎ikumi</p>
        </div>
      </footer>
  </body>
</html>
