<!DOCTYPE html>
<html>
  <head>
    <title>Ienowa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div class="container top-header">
          <nav class="navbar navbar-fixed-top">
            <!--ログイン後のヘッダ-->
            <% if user_signed_in? %>
            <div class="navbar-brand"><%= link_to root_path do %><%= image_tag "logo_w.png", :size=>"100x50" %><% end %></div>
              <ul class="nav justify-content-end header-nav">
                <li class="nav-item"><%= link_to "TOP", root_path %></li>
                <li class="nav-item"><%= link_to "検索する", loans_path %></li>
                <li class="nav-item"><%= link_to "銀行一覧", banks_path %></li>
                <li class="nav-item"><%= link_to "マイページ", favorites_banks_path %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              </ul>
            <!--ログイン前のヘッダ-->
            <% else %>
            <div class="navbar-brand"><%= link_to root_path do %><%= image_tag "logo_w.png", :size=>"100x50" %><% end %></div>
              <ul class="nav justify-content-end header-nav">
                <li class="nav-item"><%= link_to "ienowaとは？", homes_about_path %></li>
                <li class="nav-item"><%= link_to "検索する", loans_path %></li>
                <li class="nav-item"><%= link_to "銀行一覧", banks_path %></li>
                <li class="nav-item"><%= link_to "ログイン", new_user_session_path %></li>
                <li class="nav-item"><%= link_to "新規登録", new_user_registration_path %></li>
              </ul>
            <% end %>
          </nav>
      </div>
      <div class="top-body">
          <%= yield %>
      </div>
        <footer>
          <div class="col-md-12 footer-text">
            <p>©︎ikumi</p>
          </div>
        </footer>
    </div>
  </body>
</html>